
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: rgb(199, 221, 223);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
}

.container {
    width: 440px;
    background-color: azure;
    padding: 40px 32px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container h1 {
    font-size: 1.6rem;
}

.container .social-login {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}